# Core Django & useful tools
Django==5.2.1
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-environ==0.12.0
python-dotenv==1.1.0

# JWT Auth
djangorestframework_simplejwt==5.5.0

# OAuth / Auth
django-allauth==65.9.0
oauthlib==3.2.2
requests-oauthlib==2.0.0

# Channels (WebSocket support)
channels==4.2.2
daphne==4.2.0
channels_redis==4.2.1  # Only if using Redis for channels

# ASGI
asgiref==3.8.1

# Email & SMTP
PyJWT==2.9.0

# Production
gunicorn==23.0.0
whitenoise  # Optional but useful for static file serving

# Dev / Tooling
sqlparse==0.5.3
pytz==2025.2

# Docs
drf-yasg==1.21.10

# File/image uploads
pillow==11.2.1

# Payments
stripe==12.2.0

